@tailwind base;
@tailwind components;
@tailwind utilities;

.sticky-container {
  @apply relative;
}

.sticky-image {
  @apply sticky top-8; /* Tailwind utilities for sticky positioning and top offset */
}

@media (max-width: 640px) {
  .sticky-container {
    @apply flex flex-col items-center sm:items-start; /* Center the image and adjust alignment on small screens */
  }
  
  .sticky-image {
    @apply mt-4 w-48 h-48; /* Adjust image size for small screens */
    position: static; /* Disable sticky behavior on small screens */
    top: 8;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
