.line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.line {
  flex: 1;
  height: 2px;
  background: linear-gradient(to right, transparent, #64ffda, transparent);
  margin: 0 10px;
}

.line.start {
  margin-right: 10px;
}

.line.end { 
  margin-left: 10px;
}

.title {
  position: relative;
  z-index: 10;
}



@media (min-width: 1024px) {
  .line-container {
    justify-content: flex-start;
   
  }

  .line{
    background: linear-gradient(to right,  #64ffda,transparent);
  }

  .line.start {
    display: none;
    
  }

  .title {
    text-align: left;
  }
}
