.line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.line {
  flex: 1;
  height: 2px;
  background: linear-gradient(to right, transparent, #64ffda, transparent);
  margin: 0 10px;
}

.line.start {
  margin-right: 10px;
}

.line.end { 
  margin-left: 10px;
}

.title {
  position: relative;
  z-index: 10;
}



@media (min-width: 1024px) {
  .line-container {
    position: absolute;
    top: 0;
    left: 2;
    width: 100%;
    height: 1px;
    z-index: 10;
  }
  
  .line {
    height: 100%;
    background: linear-gradient(to right, #64ffda, transparent);
    width: 0;
    transition: width 0.5s ease;
  }

  .line.start {
    display: none;
    
  }

  .title {
    text-align: left;
  }
}

/* Default styles */
.text-custom {
  color: #ccd6f6;
  font-size: 1rem; /* Default font size */
  font-weight: bold;
}

/* Styles for small screens */
@media (max-width: 576px) {
  .text-custom {
    font-size: 0.6rem; /* Small screen font size */
  }
}
.text-customs {
  color: #64ffda;
  font-size: 1rem; /* Default font size */
  font-weight: bold;
}
@media (max-width: 576px) {
  .text-customs {
    font-size: 0.6rem; /* Small screen font size */
  }
}
